.container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.white {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-bottom: 60px;
  text-align: center;
  background-color: white;
}
.diceb {
  text-align: center;
  display: inline-block;
  color: skyblue;
}
.dicer {
  text-align: center;
  display: inline-block;
  color: red;
}
.red {
  background-image: url("./img/red.jpg");
  background-size: cover;
}
.blue {
  background-image: url("./img/blue.jpg");
  background-size: cover;
}
.bluered {
  background-image: url("./img/bluered.jpg");
  background-size: cover;
}

.btn {
  background-color: white;
  color: black;
  font-size: large;
  font-weight: bold;
  border: 2px solid #555555;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #555555;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}
body {
  background-color: #0d0302f9;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 3px 0 #11120f;
  font-size: 6rem;
  color: #ffffff;
}

p {
  font-size: 2rem;
  /* color: #4ECCA3; */
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
